<p><%= notice %></p>
<p><%= alert %></p>

<h2>Loja zaza</h2>
<h4>Cadastro - Carro</h4>
<h3><%=
 #pegando noticia enviada no cadastro feito na controler com o flash caso eu usase outro nome inves de notice (convesao) teria que pegar o dado da seguinte forma flash[:nome_colocado]
 notice 
%></h3>
<% if user_signed_in? %>
<div  class="hero-unit">
<%= render partial: "anuncios/form"%>
</div>
<% end %>
<table class="table table-striped">
	<tr>
		<th>Modelo</th>
		<th>Ano</th>
		<th>Valor</th>
		<th>Marca</th>
		<th>Anunciante</th>
		<th>Descricao</th>
		<% if user_signed_in? %>
		<th></th>
		<th></th>
		<th></th>
		<% end %>
	</tr>
	<%= render @anuncios%>
</table>


