<tr id="modelo_<%=anuncio.id%>">
 	<td><%= anuncio.modelo %></td>
 	<td><%= anuncio.ano %></td>
 	<td><%= valor_formatado anuncio.valor %></td>
 	<td><%= anuncio.descricao%></td>
 	<td><%= link_to "Editar", edit_anuncio_path(anuncio)%></td>
 	<td><%= link_to "Excluir", delete_anuncio_path(anuncio), :remote => true, method: :delete, data:{confirm: "tem certeza que quer deletar #{anuncio.modelo} ?"} %></td>
</tr>

<%= content_for :js do %>
	$(#)
<% end%>